<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-printer-receipt-plugin"
        version="0.0.1">
    <name>Receipt Printer Plugin</name>
    <description>Print receipts using USB printer.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,receipt,printer</keywords>
    <repo></repo>
    <issue></issue>
 
    <engines>
        <engine name="cordova-android" version=">=3.6.0" /><!-- Requires CordovaPlugin.preferences -->
    </engines>

    <js-module src="www/plugin.js" name="receiptPrinter">
        <runs/>
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ReceiptPrinterPlugin" >
                <param name="android-package" value="com.offthebricks.cordova.printer.ReceiptPrinter"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
        	<uses-feature android:name="android.hardware.usb.host"/>
        </config-file>

        <source-file src="src/android/ReceiptPrinter.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/USBPort.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/PrinterInstance.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/Barcode.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/Utils.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/PrinterConstants.java" target-dir="src/com/cordova/printer"/>
        <source-file src="src/android/Table.java" target-dir="src/com/cordova/printer"/>
    </platform>

</plugin>
